<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Privat24</title>
</head>
<body>
    <div>
      <ul>
          <h1>Privat24</h1>
          <li>
              <a href="/">Home</a>
          </li>
          {% if 'username' in session %}
          <li>
              <a href="{{ url_for('posts') }}">Go to posts!</a>
          </li>

          <li>
              <a href="{{ url_for('show_users_profile') }}">Go to users!</a>
          </li>
          <li>
              <a href="{{ url_for('logout') }}">Logout!</a>
          </li>
          {% else %}
          <li>
              <a href="{{ url_for('login') }}">Let's Login!</a>
          </li>
          <li>
              <a href="{{ url_for('register') }}">Let's Sign up!</a>
          </li>
          {% endif %}
          <li> <a href="{{ url_for('about') }}">About</a>
          </li>
      </ul>
    </div>
{% block content %}{% endblock %}
</body>
</html>