{% extends 'home.html' %}
{% block content %}
<main class="form-signin w-100 m-auto">
   <form method="post">
    <img class="mb-4" src="{{ url_for('static', filename='assets/images/paypal.svg') }}" alt="" width="275" height="57">
    <h1 class="h3 mb-3 fw-normal">Sign up</h1>

      <div class="form-floating">
      <input type="text" name="username" class="form-control" id="username" >
      <label for="username">Username</label><br>
      {% for error in form.username.errors %}
      <div class="alert alert-danger">
        {{ error }}
      </div>
        {% endfor %}
      <div class="form-floating">
      <input type="password" name="password" class="form-control" id="password" >
      <label for="password">Password</label><br>
      {% for error in form.password.errors %}
      <div class="alert alert-danger">
        {{ error }}
      </div>
        {% endfor %}

    <div class="form-floating">
      <input type="password" name="confirm" class="form-control" id="confirm">
      <label for="confirm" >Password</label><br>

    <button class="btn btn-primary w-100 py-2" type="submit">Confirm</button>
    <p class="mt-5 mb-3 text-body-secondary"></p>
      <a href="{{ url_for('home') }}">Back to home</a>
    </form>
</main>
{% endblock %}